@font-face {
    font-family: 'Bank Gothic';
    src: url('/fonts/BankGothic/BankGothic Md BT.ttf') format('woff2'),
    url('/fonts/BankGothic/bank gothic medium bt.ttf') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}